/* CSS Document */
/*主导航*/
@font-face {
    font-family: 'Source Han Serif';
    src: local('Source Han Serif CN'), 
         url('../font/SourceHanSerifSC-VF.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body,html{
	scroll-behavior: smooth;
	background: #f5f5fa;
	font-family: 'Source Han Serif';
}
nav a:hover{ /*增加悬停加下划线效果*/
	border-bottom:2px #f8f9fa solid;
}
nav #current{  /*当前栏目颜色加亮，字体变粗*/
	color:white;font-weight:bold;
}
nav a,nav a.navbar-brand:hover{  /*增加默认的下划线效果，颜色与背景颜色一样（因此不显示），以避免盒子大小不一致的问题*/
	border-bottom:2px #343a40 solid;
}
/*面包屑&二级导航*/
#bread{  /*面包屑所在块的设置*/
	background-color:lightgray; color:black; font:12px/1.5 宋体;
	padding:10px; padding-left:16px;
}
#bread a{  /*面包屑中的超链接颜色*/
	color:black;
}
#bread a:hover{  /*面包屑中的超链接悬停效果*/
	color:darkblue;font-weight:bold;
}
#bread #second-nav{  /*二级导航的字体稍微大一些*/
	font-size:14px;
}
#bread #second-nav a{  /*为了实现按钮按下的效果，设置position:relative*/
	font-size:14px; position:relative;
}
#bread #second-nav a:hover{  /*按钮按下效果*/
	left:1px;top:1px;
}
/*footer*/
footer{
	/* height:30px; padding-top:3px;
	background-color: #f8f9fa;
	width: 100%;
	text-align: center;
	margin-top:0; */
	/* position: fixed; */
	bottom: 0px;
	width: 100%;
    background: #333;
    color: white;
    padding: 20px;
}
img #banner{
	margin-bottom: 10px;
}
.contain{
	margin-top: 50px;
	padding: 30px;
	box-shadow: 0px 0px 10px #888888;
	background: #fefefe;
	border-radius: 0.5rem;
	line-height: 2rem;
	height: auto;
}
.contain h1, h2{
	line-height: 5rem;
	font-weight: 800;
}
.row .col-lg-3, .col-lg-2 {
	/* height: auto; 根据内容自动调整高度 */
	/* min-height: 0; 允许高度缩小到0 */
	max-height: calc(100vh - 20rem);
	border-radius: 2rem;
	padding-left: 2rem;
	padding-right: 2rem;
	/* width: 150%; */
	/* overflow: auto; 如果内容超出最大高度，显示滚动条 */
}
.catalog{
	display:block;
	max-height: calc(100vh - 8rem);
	overflow-y: hidden;
}
.container-fluid{
	margin-bottom: 20px;
}
/*media query*/		
@media (max-width:992px){ /*Bootstrap在max-width:768px时导航条显示为按钮*/
	.logo-responsive{ /*小屏幕显示时logo稍微缩小*/
		width:50px; height:auto;
	}
	nav a,footer{ /*小屏幕显示时，导航条文字和页脚文字缩小*/
		font-size:smaller;
	}
	.catalog{
		display:none;
	}
}
a {
	text-decoration: none;
    color: var(--accent-color);
}
