#skillimage1{
    display: inline;
}

#skillimage1,#skillimage2,#skillimage3{
    margin:3px;
    width:80px;
    height:80px;
}

#skillimage1:hover,#skillimage2:hover,#skillimage3:hover{
    filter: brightness(70%);
}

#banner{
    max-width: 80%;
}

#page-nav{ /*内容导航居中对齐*/
	width:375px;
}